* { box-sizing: border-box; }

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.highlight_slide {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container:hover .prev,
.slideshow-container:hover .next {
  opacity: 1;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: #958A7E;
  font-weight: bold;
  font-size: 36px;
  user-select: none;
  background: none;
  border: none;
}

.prev {
  left: 0;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.h_text {
  font-family: 'Playfair Display', serif;
  color: #331D0D;
  font-size: 24px;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  text-align: left;
}
.h_text2 {
    font-family: 'Playfair Display', serif;
    color: #FAF7F0;
    font-size: 24px;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    text-align: left;
  }

.text {
  font-family: 'Inter', sans-serif;
  color: #331D0D;
  font-size: 16px;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 55%;
  text-align: left;
}
.text2 {
    font-family: 'Inter', sans-serif;
    color: #FAF7F0;
    font-size: 16px;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 32%;
    text-align: left;
  }

/* Dots */
.dots-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  z-index: 10;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 4px;
  background-color: rgba(180, 180, 180, 0.439);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgba(61, 61, 61, 0.501);
}

/* Animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from { opacity: .4; }
  to { opacity: 1; }
}

/* Responsiv tekst */


@media only screen and (min-width: 1024px) {
  .h_text {
    font-size: 48px;
  }

  .text {
    font-size: 20px;
    width: 35%;
  }
  .h_text2 {
    font-size: 48px;
  }

  .text2 {
    font-size: 20px;
  }
}
